.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    /* text-align:middle; */
    /* inline-block space fix */
    margin-right:-4px;
}

.content {
	vertical-align:middle;
	text-align:center;
}

.circle {
    width: 200px;
    height: 200px;
    padding: 30% 0;
    background: #d3d3d3;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    font-size: 250%;
}
