#parse("/velocity/layout.vm")
#@mainLayout()

<!-- Header -->
<header id="header" class="alt">
	<div class="inner">
		<h1>${language}</h1>
		<p>Snippet repository</p>
	</div>
</header>

<div id="wrapper">
	<section class="main items">

	#foreach( $chapter in $snippets.keySet() )
		<article class="item">
			<h1> Snippets in chapter ${chapter} :</h1><br>
 			#foreach( $snippet in $snippets.get($chapter) )
 				<a href=${snippet.url}>${snippet.name}</a><br>
 			#end
		</article>
	#end
	
	</section>


</div>

#end