#parse("/velocity/layout.vm")
#@mainLayout()


<div class="container">
	<div class="row row-centered">
		<div class="col-md-12">
		<h1>Pick your language:</h1>
		</div>
	</div>
	<div class="row row-centered">
		<div class="col-md-3 col-centered">
			<div class="circle">
				Java
			</div>
		</div>
		<div class="col-md-6 col-centered">
			<img src="/images/or.svg" width="200px" height="200px">
		</div>
		<div class="col-md-3 col-centered">
			<div class="circle">
				C#
			</div>
		 </div>
	</div>
</div>

#end